CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.txt
build
Docs/Doxygen

data.bin
src.bin
output.mp4
src.h264

.cache/**
*.bak